@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');
html,
body {
    overflow-x: hidden;
}
.providers-wrapper, .providers-wrapper *{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}